@import url('https://fonts.googleapis.com/css2?family=Flavors&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Flavors&family=Ribeye+Marrow&display=swap');

.satu{
    text-align: center;
  }
  
  .satu img{
    border-radius: 50%;
    width: 300px;
    font-size: 50px;
    border: 10px solid rgba(184, 117, 97, 0.863);
  }
  
  .satu h2{
    font-size: 30px;
    color: rgba(175, 99, 55, 0.74);
  }

  .link{
    text-align: center;
    font-size: 30px;
  }

  .satu h2 span{
    font-size: 32px;
    color: rgba(184, 117, 97, 0.863) !important;
  }
  
  .satu p{
    font-size: 50px;
    font-family: 'Ribeye Marrow', cursive;
  }
  
  .link-ig{
    width: 80px !important; 
  }
  
  .tabel,td,th{
    border-spacing: 14px;
    border: 2px solid rgba(185, 110, 49, 0.897);
  }
  
  .kedua{
    display: flex;
    justify-content: center;
  }

  .riwayat{
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: wheat;
  }

  .riwayat span{
    color: tan;
  }

  .urutanpdd{
    font-size: 20px;
    display: list-item;
    justify-content: center;
    text-align: center;
    color:rgba(184, 113, 81, 0.911);
    margin-top: 1px;
  }

  .urutanpdd span{
    color:tan;
  }

  .keempat{
  display: flex;
  justify-content: center;
  }

  .keempat h2{
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .keempat h2{
    font-size: 40px;
    color: tan;
  }

  .imgorganisasi{
    display: flex;
    justify-content: center;
  }

  .kelima{
    display: flex;
    justify-content: center;
  }

  .kelima h3{
    font-size: 40px;
    color:sienna;
  }

  .motivasi{
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: rgba(185, 110, 49, 0.897);
  }

  .keenam h2{
    font-size: 40px;
    display: flex;
    color: tan;
    justify-content: center;
    text-align: center;
  }

  .jpgskill{
    display: flex;
    justify-content: center;
  }


  /* PC VERSION */
  @media(min-width: 992px){
    .satu{
      color: rgba(163, 131, 43, 0.904);
    }

    .satu h2{
      color: sienna;
    }

    .img .satu2{
      justify-content: center;
    }

    .link{
      text-align: center;
    }
  
    .kedua{
      justify-content: start;
    }

    .riwayat{
      justify-content: center;
    }

    .urutanpdd{
      justify-content: start;
    }

    .imgSkill{
      justify-content: center;
      text-align: center;
      display: flex;
    }

    .keempat h2{
      justify-content: start;
      text-align: center;
    }

    .imgorganisasi{
      justify-content: center;
    }

    .kelima{
    justify-content: center;
    }
    .motivasi{
      justify-content: center;
    }

    .keenam{
      justify-content: center;
      }

  }
  
  /* TABLET VERSION */
  @media(min-width: 768px) and (max-width: 992px){
    .awal{
      color: pink;
    }
  }

